*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: hsl(240, 9%, 89%);

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
  --bg-button-fav: hsl(195, 91%, 25%);
  --button-fav: hsl(0, 0%, 100%);
}

 body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: hsl(240, 4%, 5%);
 }

 body * {
  font-family: var(--ff-primary);
 }

 .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
 }

 #app{
  max-width: 144rem;
  margin: 0 auto;
  padding: 2rem;
 }

 .logo {
  width: 18.6rem;
  height: 3.2rem;
 }

 header{
  width: 112rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
 }

 button img {
  margin-right: .8rem;
 }

 header h1 {
  font-size: 2rem;
  text-transform: uppercase;
 }

 .search {
  display: flex;
  align-items: center;
 }

 .search input {
  height: 4.8rem;
  border-radius: .5rem;
  padding: 0 .8rem;
  width: 64rem;
  margin-right: .8rem;
  background: #06181C;
  color: #7C7C8A;
 }

 .search button {
  background-color: #065E7C;
  border-radius: .5rem;
  height: 4.8rem;
  border: none;
  width: 17rem;
  padding: 0 1rem;
  cursor: pointer;
  color: var(--button-fav);
 }

 .search button:hover {
  filter: brightness(1.1);
  background: #ffffff;
  color: #065e7c;
 }

 table {
  width: 112rem;
  border-collapse: collapse;
  margin-top: 8.7rem;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
 }

 table * {
  font-size: 1.4rem;
  color: var(--text-color);
 }

 table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
 }

 table th:first-child {
  border-top-left-radius: 1.2rem;
 }

 table  tr {
   border-radius: 1.2rem;
   border: 1px solid #4A808C;
 }

 table th:last-child {
  border-top-right-radius: 1.2rem;
 }

 table tr:nth-child(odd) {
  background: #06161B;
 }

 table tr:nth-child(even) {
  background: #032931;
 }

 table td {
  padding: 1.5rem;
  text-align: left;
 }

 td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
 }

 td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
 }

 td.user a {
  text-decoration: none;
  cursor: pointer;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: #F75A68;
  cursor: pointer;
}
